.contacts {
  display: flex;
  margin-left: auto;

  &__link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--primary-text-color);
    transition: color var(--animation-hover);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  &__item {
    display: flex;
  }

  &__item + &__item {
    margin-left: 30px;
  }

  &__icon {
    margin-right: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    fill: var(--primary-text-color);
    cursor: pointer;
    transition: fill var(--animation-hover);
  }

  &__item:hover &__icon,
  &__item:focus &__icon {
    fill: var(--accent-color);
  }
}
