.modal-btn {
    display: flex;
    align-items: center;
    position: fixed;
    width: 30px;
    height: 30px;
    top: 8px;
    right: 8px;
    border-radius: 50%;
    background-color: var(--hidden-text-color);

    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    cursor: pointer;
}

.modal-btn-icon {
    transform: fill var(--animation-hover);
}

.modal-btn-icon:hover,
.modal-btn-icon:focus {
    fill: var(--accent-color);
}

.submit-btn {
    display: block;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;

    padding: 10px 55px 10px 56px;
    margin-left: auto;
    margin-right: auto;

    color: var(--hidden-text-color);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: transparent;

    cursor: pointer;

    transition: background-color var(--animation-hover);
}

.submit-btn:hover {
    background-color: var(--accent-active-color);
}

.submit-btn:focus {
    background-color: var(--accent-active-color);
    outline: transparent;
}